{% extends 'layout.html' %} {% block content %}
<style>
    h1{
        text-align: center;
    }
    h2 {
        position: relative;
        text-align: center;
        padding: 100px;
        background-size: cover;
        background-position: center;
        font-size: 3em;
        margin: 80px 0;
        border-top: 10px solid #c216c8;
        text-shadow: 0 0 10px #000000;
    }
    h2>span{
        position: relative;
        bottom: -130px;
    }
    h3 {
        text-align: center;
    }
    p, ul {
        max-width: 600px;
        margin: 10px auto;
    }
    p {
        text-indent: 30px;
    }
</style>
<h1>LiveTape help</h1>
<p>LiveTape is a website that let you share what you are listening on Spotify and listen what others are listening in real-time.</p>

<h2 id="twitch" style="background-image: url(/gaming-img.jpg);"><span><em>Twitch streamer</em> use case</span></h2>
<p>The g. 3. Section IV of the <a href="https://developer.spotify.com/terms/" target="_blank" ref="noopenner noreferrer"></a>Spotify Developer Terms of Service stated that "You may not synchronize any sound recordings accessed through the Spotify Platform with any visual media, including any advertising, film, television program, slideshow, video, or similar content.".</p>
<p>As a result, LiveTape is not including any feature related to Twitch. For example, it is tottally feasible to delay the music played by LiveTape in order to synchonize it well with a Twitch livestreaming, but this feature cannot be included due to the limitations of Spotify. However, it is tottally possible for a Twitch streamer to listen to music, not sending it into his/her livestreaming software, and use LiveTape to share in real-time what he/she is listening.</p>
<p>LifeTape cannot either record what was listenned and deliver afterward for replay VODs or provide any Twitch extension or login.</p>
<p><em>Twitch.tv is an Amazon brand, not affiliated with this website.</em></p>

<h2 id="physical" style="background-image: url(/workspace-img.jpg);"><span><em>Physical business</em> use case</span></h2>
<p>LiveTape can be use if you have a physical business.</p>
<p>If you are struggling between having  a calm space and sharing music, you can do both with LiveTape! Let people listen to your business channel and they will all have your music in your headphones.</p>

<h2 id="lover" style="background-image: url(/subway-img.jpg);"><span><em>Lover</em> use case</span></h2>
<p>You can listen to music with your loved one even from distance!</p>
<p>While commuting, in the next room or thousand miles away, listen together to the same music. Just share your LiveTape link as you would plug your Y-adapter cable (or send your mixtape cassette if you are a boomer).</p>
<p>&lt;3</p>


<h2 id="contact" style="background-image: url(/mail-img.jpg);"><span>Contact</span></h2>

<p>Do you want to send us a love letter? Use this email: <a href="mailto:&#x63;&#x6f;&#x6e;&#x74;&#x61;&#x63;&#x74;&#x40;&#x6c;&#x69;&#x76;&#x65;&#x74;&#x61;&#x70;&#x65;&#x2e;&#x69;&#x6f;">&#x63;&#x6f;&#x6e;&#x74;&#x61;&#x63;&#x74;&#x40;&#x6c;&#x69;&#x76;&#x65;&#x74;&#x61;&#x70;&#x65;&#x2e;&#x69;&#x6f;</a>.</p>

<h2 id="terms" style="background-image: url(/paper-img.jpg);"><span>Terms & conditions</span></h2>

<p>TL;DR: it's fine.</p>

<p>Throughout these Terms, “you” applies to both individuals and entities that access or use our Services. If you are an individual using our Services on behalf of an entity, you represent and warrant that you have the authority to bind that entity to the Agreement and that by using our Service(s), you are accepting the Agreement on behalf of that entity.</p>

<p>In the following, "we" refer to the administrators of LiveTape ; "the service", "the services", "the product" is the website LiveTape accessible at https://livetape.io.</p>

<p>These Terms of Service (“Terms”) describe our commitments to you, and your rights and responsibilities when using our services. Please read them carefully and reach out to us if you have any questions.</p>

<p>LiveTape is not affiliated with Spotify.</p>

<p>Theses terms are adapted from the Wordpress.com theme release under Creative Commons ShareAlike license.</p>

<p>Our Services are offered subject to your acceptance, without modification, of all of the terms and conditions contained herein and all other operating rules, policies (including, without limitation, Automattic’s Privacy Policy), and procedures that may be published from time to time by Automattic (collectively, the “Agreement”). You agree that we may automatically upgrade our Services, and the Agreement will apply to any upgrades.</p>

<p>Please read the Agreement carefully before accessing or using our Services. By accessing or using any part of our Services, you agree to become bound by the Agreement. If you do not agree to all the terms of the Agreement, then you may not access or use our Services.</p>

<h3>Your Account</h3>

<p>Where use of our Services requires an account, you agree to provide us with complete and accurate information when you register for an account and keep the information current. This is important because sometimes we may need to send you notable updates (for example, about changes to our Terms of Service or Privacy Policy), or we may want to let you know about and make informed choices in response to legal inquiries or complaints.</p>

<p>You will be solely responsible and liable for any activity that occurs under your account. You are responsible for keeping your account information up-to-date and for keeping your password secure.
</p>

<p>You are responsible for maintaining the security of your account and any Service-related website, store, or other content, and you are fully responsible for all activities that occur under your account and any other actions taken in connection with our Services. You shall not share or misuse your access credentials. You must immediately notify us of any unauthorized uses of your account, store, or website, or of any other breach of security. We will not be liable for any acts or omissions by you, including any damages of any kind incurred as a result of such acts or omissions.
</p>

<h3>Minimum Age Requirements</h3>

<p>Our Services are not directed to children. Access to and use of our Services is only for those over the age of 16. If you are younger than this, you may not register for or use our Services. Any person who registers as a user or provides their personal information to our Services represents that they are 16 years or older in the European Union.</p>

<h3>Responsibility of Visitors and Users</h3>

<p>We have not reviewed, and cannot review, all of the content (such as, but not limited to, text, photo, video, audio, code, computer software, items for sale, or other materials) posted to our Services by users or anyone else (“Content”) and are not responsible for any use or effects of such Content.</p>

<h3>Fees, Payment, and Renewal</h3>

<p>Some of our Services are offered for a fee. By using a Paid Service, you agree to pay the specified fees. These fees may be one-time fees or recurring fees. For recurring fees, we’ll bill or charge you for in regular automatically-renewing intervals (such as monthly, annually, or biennially), on a pre-pay basis until you cancel, which you can do at any time by contacting us.</p>

<p>Depending on which billing option you choose (like monthly vs. annually), there may be different features available or policies that apply to your Paid Service.</p>

<p>To the extent permitted by law, or unless explicitly stated otherwise, all fees are exclusive of applicable federal, provincial, state, local or other governmental sales, goods and services, harmonized or other taxes, fees, or charges now in force or enacted in the future (“Taxes”). You are responsible for payment of all applicable Taxes relating to your use of our Services, your payments, or your purchases. If we are obligated to pay or collect Taxes on the Fees you’ve paid or will pay, you are responsible for such Taxes, and we may collect payment for such Taxes.</p>

<p>If your payment fails, Paid Services are otherwise not paid for or paid for on time, or we suspect a payment is fraudulent, we may immediately cancel or revoke your access to Paid Services without notice to you. If you contact your bank or credit card company to decline or reverse the charge of fees for Paid Services, we may revoke your access to our Services.</p>

<p>To ensure uninterrupted service, recurring Paid Services are automatically renewed. This means that unless you cancel a Paid Service before the end of the applicable subscription period, it will automatically renew, and you authorize us to invoice you or use any payment mechanism we have on record for you to collect the then-applicable subscription fee (as well as any Taxes). By default, your Paid Services will be renewed for the same interval of time as your original subscription period. It is your responsibility to make sure you are checking your email (including any spam or other filters) in order to receive any reminder email we send to you in advance of renewal. The date for the automatic renewal is determined automatically based on the date of the original purchase and cannot be changed. You can view your renewal date by visiting your account page.</p>

<p>You can manage and cancel your Paid Services at the respective Service’s site. To cancel a plan, go to your account page, click on the plan you wish to cancel, then follow the instructions to “cancel the subscription.” You must repeat this process for each subscription you wish to cancel.</p>

<p>We may change our fees at any time, or start charging fees for Services that were previously free. When applicable, we may give you advance notice of the fee changes. If you don’t agree with the fee changes, you must cancel your Paid Service.</p>

<p>While you may cancel a Paid Service at any time, refunds are issued in our sole discretion, unless otherwise required by applicable law.</p>


<h3>General Representation and Warranty</h3>

<p>You represent and warrant that your use of our Services:</p>
<ul>
<li>Will be in strict accordance with these Terms;</li>
<li>Will comply with all applicable laws and regulations (including, without limitation, all applicable laws regarding online conduct and acceptable content, privacy, data protection, the transmission of technical data exported from the France or the country in which you reside, the use or provision of financial services, notification and consumer protection, unfair competition, and false advertising);</li>
<li>Will comply with all the third parties terms;</li>
<li>Will not use the Services for any unlawful purposes, to publish illegal content, or in furtherance of illegal activities;</li>
<li>Will not infringe or misappropriate the intellectual property rights of any third party;</li>
<li>Will not overburden our systems, as determined by us in our sole discretion;</li>
<li>Will not disclose sensitive personal information of others;</li>
<li>Will not be used to send spam or bulk unsolicited messages;</li>
<li>Will not interfere with, disrupt, or attack any service or network;</li>
<li>Will not be used to create, distribute, or enable material that is – or that facilitates or operates in conjunction with – malware, spyware, adware, or other malicious programs or code.</li>
</ul>


<h3>Copyright Infringement and DMCA Policy</h3>

<p>As we ask others to respect our intellectual property rights, we respect the intellectual property rights of others. If you believe that material located on or associated with our product or service violates your copyright, please notify us in accordance with Automattic’s Digital Millennium Copyright Act (“DMCA”) Policy. We will respond to all such notices, including as required or appropriate by removing the infringing material or disabling all links to the infringing material. We will terminate a visitor’s access to and use of the website if, under appropriate circumstances, the visitor is determined to be a repeat infringer of the copyrights or other intellectual property rights of Automattic or others. In the case of such termination, we will have no obligation to provide a refund of any amounts previously paid to us.</p>

<h3>Intellectual Property</h3>

<p>The Agreement does not transfer from LiveTape to you any LiveTape or third party intellectual property, and all right, title, and interest in and to such property will remain (as between the parties) solely with LiveTape. LiveTape is a trademark of David Libeau. Other trademarks, service marks, graphics, and logos used in connection with our Services may be the trademarks of other third parties. Your use of our Services grants you no right or license to reproduce or otherwise use any LiveTape or third party trademarks.</p>

<h3>Termination</h3>

<p>We may terminate your access to all or any part of our Services at any time, with or without cause, with or without notice, effective immediately. We have the right (though not the obligation) to, in our sole discretion, (i) reclaim your username or website’s URL due to prolonged inactivity, (ii) refuse or remove any content that, in our reasonable opinion, violates any Automattic policy or is in any way harmful or objectionable, (iii) ask you to make some adjustments, restrict the resources your website uses, or terminate your Services, if we believe your website’s storage or bandwidth usage is out of hand and burdens our systems (which is rare and typically only occurs when a website is used for file sharing or storage), or (iv) terminate or deny access to and use of any of our Services to any individual or entity for any reason. We will have no obligation to provide a refund of any amounts previously paid.</p>

<p>If you wish to terminate the Agreement or your LiveTape account, you may simply discontinue using our Services, or, if you are using a paid service, you may cancel at any time, subject to the Fees, Payment, and Renewal section in these Terms. You do not need to listen to 3 hours of Céline Dion while waiting your paid subscription to end.</p>

<p>All provisions of the Agreement which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of liability.</p>

<h3>Disclaimer of Warranties</h3>

<p>Our Services are provided “as is.” LiveTape administrators and its suppliers and licensors hereby disclaim all warranties of any kind, express or implied, including, without limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement. Neither LiveTape administrators, nor its suppliers and licensors, makes any warranty that our Services will be error free or that access thereto will be continuous or uninterrupted. If you’re actually reading this, here’s a treat. You understand that you download from, or otherwise obtain content or services through, our Services at your own discretion and risk.</p>

<h3>Jurisdiction and Applicable Law</h3>

<p>Except to the extent any applicable law provides otherwise, the Agreement and any access to or use of our Services will be governed by the laws of France.</p>

<h3>Limitation of Liability</h3>

<p>In no event will LiveTape, or its suppliers, partners, or licensors, be liable with respect to any subject matter of the Agreement under any contract, negligence, strict liability or other legal or equitable theory for: (i) any special, incidental or consequential damages; (ii) the cost of procurement for substitute products or services; (iii) for interruption of use or loss or corruption of data; or (iv) for any amounts that exceed 50€ or the fees paid by you to LiveTape under the Agreement during the twelve (12) month period prior to the cause of action, whichever is greater. LiveTape shall have no liability for any failure or delay due to matters beyond their reasonable control. The foregoing shall not apply to the extent prohibited by applicable law.</p>

<h3>Indemnification</h3>

<p>You agree to indemnify and hold harmless LiveTape, its contractors, and its licensors, and their respective directors, officers, employees, and agents from and against any and all losses, liabilities, demands, damages, costs, claims, and expenses, including attorneys’ fees, arising out of or related to your use of our Services, including but not limited to your violation of the Agreement or any agreement with a provider of third-party services used in connection with the Services, Content that you post, and any ecommerce activities conducted through your or another user’s website.</p>


<h3>Data Protection</h3>

<p>David Libeau is the data protection officer of LiveTape. You can send any GDPR requests to <a href="mailto:&#x63;&#x6f;&#x6e;&#x74;&#x61;&#x63;&#x74;&#x40;&#x6c;&#x69;&#x76;&#x65;&#x74;&#x61;&#x70;&#x65;&#x2e;&#x69;&#x6f;">&#x63;&#x6f;&#x6e;&#x74;&#x61;&#x63;&#x74;&#x40;&#x6c;&#x69;&#x76;&#x65;&#x74;&#x61;&#x70;&#x65;&#x2e;&#x69;&#x6f;</a>.</p>

<h3>Miscellaneous</h3>

<p>The Agreement constitutes the entire agreement between LiveTape administrators and you concerning the subject matter hereof. If any part of the Agreement is held invalid or unenforceable, that part will be construed to reflect the parties’ original intent, and the remaining portions will remain in full force and effect. A waiver by either party of any term or condition of the Agreement or any breach thereof, in any one instance, will not waive such term or condition or any subsequent breach thereof.</p>

<p>You may assign your rights under the Agreement to any party that consents to, and agrees to be bound by, its terms and conditions; LiveTape administrators may assign its rights under the Agreement without condition. The Agreement will be binding upon and will inure to the benefit of the parties, their successors and permitted assigns.</p>

{% endblock %}