{% extends 'layout.html' %}

{% block content %}
{% if not user %}
    <style>
        body{
            margin: 0;
        }
        #logo {
            position: fixed;
            top: 45vh;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            z-index: 9;
        }
        #logo>img{
            width: 100vw;
            max-height: 15vh;
        }
        #logo>p:first-of-type{
            margin: 5px;
        }
        #logo>p:nth-of-type(2){
            margin-top: 10vh;
        }
        #logo em {
            position: relative;
            display: inline-block;
            background-color: #c216c8;
            padding: 10px;
            margin: 5px;
            font-style: normal;
            border-radius: 5px;
            -webkit-box-shadow: 0 20px 10px -10px rgba(0,0,0,0.3);
            box-shadow: 0 20px 10px -10px rgba(0,0,0,0.3);
        }
        #logo em::before {
            content: "";
            position: absolute;
            right: calc(50% - 8px);
            bottom: 100%;
            width: 0;
            height: 0;
            border-right: 8px solid transparent;
            border-bottom: 10px solid #c216c8;
            border-left: 8px solid transparent;
        }
        #homeBackground {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            display:flex;
            justify-content:center;
            align-items:center;
            z-index: 8;
        }
        #homeBackground>img {
            min-height: 100vh;
        }
        button {
            -webkit-box-shadow: 0 30px 10px -10px rgba(0,0,0,0.3);
            box-shadow: 0 30px 10px -10px rgba(0,0,0,0.3);
        }
    </style>
    <div id="homeBackground">
        <img src="/livetape-background.svg" alt="Synthwave background"/>
    </div>
    <div id="logo">
        <img src="/livetape-logo.svg" alt="LiveTape logo"/>
        <p>Listen to music together!</p>
        <p><a href="/login"><button>Start listening</button></a></p>
        <p><em>Learn how you can use LiveTape if you are a <a href="help#twitch">Twitch streamer</a>, a <a href="help#physical">physical business</a> or a <a href="help#lover">lover &lt;3</a>.</em></p>
    </div>
{% else %}
    <main>
	<h2>Hello, {{ user.username }}.</h2>
    {% if user.product != 'premium' %}
        <p>You do not have a Premium account on Spotify! You will not be able to use this website. Sorry. :(</p>
    {% else %}
        {% if user.isStreamer %}
            <p>Congratulation, you have a streamer account! You can now start listening to music on Spotify. It will be broadcasted under <a href="/listen/{{ user.username }}">https://livetape.io/listen/{{ user.username }}</a>.</p>
            <p>Please do not close this windows.</p>
            <div style="background-color: #c216c8; padding: 1px 20px; border-radius: 10px;">
                <h3>Now listening:</h3>
                <p id="nowListening">…nothing. Please try to select the "LiveTape" device on your Spotify player.</p>
            </div>
            <script src="/socket.io/socket.io.js"></script>
            <script>
                var socket = io('/{{ user.id }}');
                socket.on('connect', () => {
                    console.log('Socket connected');
                });
                socket.on('disconnect', () => {
                    console.log('Socket disconnected');
                });
            </script>
            <script src="https://sdk.scdn.co/spotify-player.js"></script>
            <script>
                const token = "{{ user.accessToken }}";

                /*fetch(`https://api.spotify.com/v1/me/player/currently-playing`, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer ' + token
                    },
                }).then(response => response.json()).then(data => {
                    console.log(data);
                    document.getElementById("nowListening").innerHTML = data.item.name + " — " + data.item.artists.map(function(artist){ return artist.name; }).join(", ");
                });*/
                
                window.onSpotifyWebPlaybackSDKReady = () => {
                    const player = new Spotify.Player({
                        name: 'LiveTape',
                        getOAuthToken: cb => {
                            cb(token);
                        }
                    });

                    // Error handling
                    player.addListener('initialization_error', ({
                        message
                    }) => {
                        console.error(message);
                    });
                    player.addListener('authentication_error', ({
                        message
                    }) => {
                        console.error(message);
                    });
                    player.addListener('account_error', ({
                        message
                    }) => {
                        console.error(message);
                    });
                    player.addListener('playback_error', ({
                        message
                    }) => {
                        console.error(message);
                    });

                    // Playback status updates
                    player.addListener('player_state_changed', (data) => {
                        console.log(data);
                        var current_track = data.track_window.current_track;
                        document.getElementById("nowListening").innerHTML = current_track.name + " — " + current_track.artists.map(function(artist){ return artist.name; }).join(", ");
                        socket.emit('input', 
                        {
                            data: data,
                            userId: "{{ user.id }}",
                            accessToken: "{{ user.accessToken }}"
                        });
                    });

                    // Ready
                    player.addListener('ready', ({
                        device_id
                    }) => {
                        console.log('Ready with Device ID', device_id);
                    });

                    // Not Ready
                    player.addListener('not_ready', ({
                        device_id
                    }) => {
                        console.log('Device ID has gone offline', device_id);
                    });

                    // Connect to the player!
                    player.connect();
                };
            </script>
        {% else %}
            <p>You are not whitelisted as a streamer. <a href="https://twitter.com/DavidLibeau">Contact us</a> if you whould like to be whitelisted!</p>
            <p>You can listen streamer music if he/she gives you his/her link!</p>
        {% endif %}
        </main>
    {% endif %}
{% endif %}
{% endblock %}