<!DOCTYPE html>
<html>

<head>
	<title>LiveTape - Listen to music together!</title>
    <style>
        body{
            font-family: sans-serif;
            background-color: #181f2a;
            color: white;
            font-size: 1.1em;
        }
        a {
            color: inherit;
            text-decoration: none;
            font-weight: bold;
        }
        a:hover {
            text-decoration: underline;
        }
        button {
            padding: 10px 20px;
            border: none;
            border-radius: 30px;
            background-color: white;
            cursor: pointer;
            color: black;
            font-size: 1em;
        }
        button:hover{
            background-color: #e8e8e8;
        }
        main {
            max-width: 600px;
            margin: auto;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Listen to music together!">
    <meta property="og:url" content="https://livetape.io/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="LiveTape">
    <meta property="og:description" content="Listen to music together!">
    <meta property="og:image" content="https://livetape.io/livetape.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="livetape.io">
    <meta property="twitter:url" content="https://livetape.io/">
    <meta name="twitter:title" content="LiveTape">
    <meta name="twitter:description" content="Listen to music together!">
    <meta name="twitter:image" content="https://livetape.io/livetape.png">
</head>

<body>
	{% if not user %}
	<nav>
		<a href="/">Home</a> |
		<a href="/login">Log In</a>
	</nav>
	{% else %}
	<nav>
		<a href="/">Home</a> |
		<a href="/account">Account</a> |
		<a href="/logout">Log Out</a>
	</nav>
	{% endif %} {% block content %}{% endblock %}
    <footer style="border-top: 10px solid #c216c8; padding: 20px 0; margin-top: 50px;"><a href="https://framagit.org/DavidLibeau/livetape" target="_blank" rel="noreferrer">Open source free software</a> app coded by <a href="https://twitter.com/DavidLibeau" target="_blank" rel="noreferrer">David Libeau</a> – <a href="/help#contact">Contact</a> – <a href="help#terms">Terms</a></footer>
</body>

</html>