{% extends 'layout.html' %} {% block content %}
<main>
{% if not streamerId %}
<p>Sorry, there is nothing to listen here!</p>
{% else %}
<h1>#{{ streamerId }}</h1>
{% if streamerId == user.id %}
<p>You cannot listen to your own stuff, but yes others will be able to listen to yours if they go here.</p>
{% else %}
<p id="status">You are not yet connected.</p>
<div style="background-color: #c216c8; padding: 1px 20px; border-radius: 10px;">
    <h3>Now listening:</h3>
    <p id="nowListening">…nothing. Please wait for the streamer to play a track.</p>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://sdk.scdn.co/spotify-player.js"></script>
<script>
    window.onSpotifyWebPlaybackSDKReady = () => {
        var nowPlaying = {};
        var socket = io('/{{ streamerId }}');
        socket.on('connect', socket => {
            console.log('Socket connected');
            document.getElementById('status').innerHTML = "You are listening {{ streamerId }}'s music!";
        });
        socket.on('disconnect', () => {
            console.log('Socket disconnected');
            document.getElementById('status').innerHTML = 'You have been disconnected.';
        });
        socket.on('output', (data) => {
            console.log(data);
            var current_track = data.track_window.current_track;
            document.getElementById("nowListening").innerHTML = current_track.name + " — " + current_track.artists.map(function(artist){ return artist.name; }).join(", ");

            if(nowPlaying.track_window == undefined || nowPlaying.track_window.current_track.uri!=data.track_window.current_track.uri){
                console.log("Updating "+deviceId);
                fetch("https://api.spotify.com/v1/me/player/play?device_id="+deviceId, {
                    method: 'PUT',
                    body: JSON.stringify({
                        uris: [data.track_window.current_track.uri]
                    }),
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': `Bearer ${token}`
                    },
                });
            }
            if(nowPlaying.track_window){
                if(nowPlaying.paused==true && data.paused==false){
                    player.resume().then(() => {
                      console.log('Resumed!');
                    });
                }else if(nowPlaying.paused==false && data.paused==true){
                    player.pause().then(() => {
                      console.log('Paused!');
                    });
                }
            }

            nowPlaying = data;
        });
        
        const token = "{{ user.accessToken }}";
        var deviceId = '';
        const player = new Spotify.Player({
            name: 'LiveTape',
            getOAuthToken: cb => {
                cb(token);
            }
        });

        // Error handling
        player.addListener('initialization_error', ({
            message
        }) => {
            console.error(message);
        });
        player.addListener('authentication_error', ({
            message
        }) => {
            console.error(message);
        });
        player.addListener('account_error', ({
            message
        }) => {
            console.error(message);
        });
        player.addListener('playback_error', ({
            message
        }) => {
            console.error(message);
        });


        // Ready
        player.addListener('ready', ({
            device_id
        }) => {
            deviceId = device_id;
            console.log('Ready with Device ID', deviceId);
        });

        // Not Ready
        player.addListener('not_ready', ({
            device_id
        }) => {
            console.log('Device ID has gone offline', device_id);
        });

        // Connect to the player!
        player.connect();
    };
</script>
{% endif %}
{% endif %}
</main>
{% endblock %}