{% extends 'layout.html' %} {% block content %}
<main>
    <h1>Login</h1>
    <p>Please note that this app is still in beta.</p>
    <p>This app let you receive in real-time what someone else is listenning. And, the other way around, this app let you share in real-time what you are listening.</p>
    <h3>Requirements</h3>
    <ol>
        <li>A Spotify Premium account for the streamer and the listener(s).</li>
        <li>That's all!</li>
    </ol>
    <p>By logging in, you aggree to the <a href="help#terms">Terms and conditions of LiveTape</a>.</p>
    <a href="/auth/spotify"><button>Login with Spotify</button></a>
</main>
{% endblock %}